.App {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.table{
  text-align: center;
  margin: 300px;
  margin-top: 20px;
}

button{
  border-radius: 20px;
  background-color: azure;
  box-shadow: 3px 3px 7px rgb(59, 239, 239);
}

img{
  border-radius: 20px;
  border: solid 2px rgb(42, 3, 99);
  box-shadow: 3px 3px 7px rgb(59, 239, 239);
}

h1{
 text-shadow: 3px 3px 7px rgb(59, 239, 239);
}